.imcCard {
  display: inline-block;
  font-family: verdana, sans-serif;
  border: solid 2px #ddd;
  box-shadow: 0 5px 5px #ddd;
  border-radius: 30px;
  width: 200px;
  margin: 10px;
  padding: 10px;
}

.verde {
  background-color: #4CAF50;
}

.amarelo {
  background-color: #FFEB3B;
}

.vermelho {
  background-color: #f32c1e;
}

.botao {
  margin: 3px;
  padding: 3px;
  background-color: #ddd;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botao:hover {
  background-color: lightgray;
}

.botao:active {
  background-color: lightgray;
}
